pandas
uszipcode
blinker==1.8.2
click==8.1.7
debugpy==1.8.5
Flask==3.0.3
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.1
psutil==6.0.0
typing_extensions==4.12.2
Werkzeug==3.0.4
zipp==3.20.1
trimesh==4.4.9
boto3==1.35.14
botocore==1.35.14
jmespath==1.0.1
python-dateutil==2.9.0
s3transfer==0.10.2
six==1.16.0
urllib3==1.26.0